# 忽略憑證與敏感資訊
.env

# 忽略 Git 資料
.git
.gitignore

# 忽略 Python 快取檔
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd


# 忽略 IDE 設定檔
.vscode/
*.swp
*.swo

# 忽略 log、暫存檔
*.log
tmp/


# only for local test，部署時改用 S3
uploads/ 

